body{ 
}

#banner{
    width: 100%;
}

.principal{
    padding: 30px;
    background-color: #ccc;
}
    

.título-centralizado{
    text-align: center
}

p { 
    text-align: center;
}

#missao{
    font-size:20px
}

em strong{
    color: red;
}

.itens{
    font-style: italic;
}

.benefícios{
    background: #FFFFFF;
    padding: 20px;
}

ul{
    display:inline-block;
    /* vertical-align top; */
    vertical-align: top;
    margin-right: 15%;
    width: 20%;
}

.imagembeneficios{
    width: 50%;
}
